@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
    margin:0;
    font-family:Merriweather;
}

a{
    text-decoration:none;
    color:#0B1215;
}

.container{
    display:grid;
    grid-template-columns:20% 80%;
    grid-template-rows:25% 75%;
    height:100vh;
}

.sidebar{
    grid-column:1;
    grid-row:1/3;
    background-color:#15803d;
    color:#0B1215;
    display:grid;
    grid-template-rows:13% 2% 40% 10% 20%;
}

.dashboard-container{
    display:flex;
    align-items:center;
    justify-content: center;
    gap:12px;
    padding-right:80px;
}

.dashboard-container img{
    height:64px;
    width:64px;
}

.dashboard-container p{
    font-size:1.3rem;
    font-weight:600;
}

.item-container,.settings-container{
    display:grid;
    grid-template-columns:20% 80%;
    padding-left:10px;
}

.item-container .icon, .settings-container .icon{
    grid-column:1;
    display:flex;
    justify-content: center;
    align-items:center;
}

.item-container .item, .settings-container .item{
    grid-column:2;
    display:flex;
    align-items: center;
}

svg{
    height:32px;
    width:32px;
}

.header{
    grid-column:2;
    grid-row:1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index:2;
    display:grid;
    grid-template-columns:70% 20%;
    grid-template-rows:35% 65%;
}

.search-container{
    grid-column:1;
    grid-row:1;
    display:flex;
    justify-content: center;
    align-items:center;
    gap:20px;
}

.search-container input{
    width:80%;
    height:24%;
    border-radius:10px;
    border:none;
    background-color:#e5e7eb;

}

.main{
    grid-column:1;
    grid-row:2;
    display:flex;
    padding-left:50px;
    align-items: center;
    gap:10px;
}

.main svg{
    width:80px;
    height:80px;
}

.salute {
    font-weight:600;
}

.small-text{
    font-size:0.9rem;
}

.large-text{
    font-size:1.1rem;
}

.top-right{
    grid-column:2;
    grid-row:1;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:24px;
}

.top-right .profile{
    height:50px;
    width:50px;
}

.top-right p{
    font-weight:800;
}

.actions{
    grid-column:2;
    grid-row:2;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:32px;
}

button{
    border-radius:20px;
    border:none;
    background-color:#16a34a;
    width:200px;
    height:35px;
    padding:10px 30px;
    text-align: center;
    font-weight:600;
    display:flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: #86efac;
    color:#3f3f46;
}

.top-right{
    display:flex;
}

.content{
    grid-column:2;
    grid-row:2;
    background-color: #f8fafc;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index:1;
}